.slider {
    margin-top: 100px;
    .carousel-inner {
        height: calc(80vh);
        .carousel-inner {
            img {
                object-fit: cover;
            }
        }
    }
    // .carousel-inner {
    //     bottom: 40%;
    // }
}
